.es-align-center{
    text-align: center;
    margin: 0 auto;
    float: none;
}
.es-align-right{
    text-align: right;
    float: right;
    margin-left:15px;
}
.es-align-left{
    text-align: left;
    float: left;
    margin-right: 15px;
}


.es-insta-size-large{
  width: 100% ;
    max-width: 600px !important;
}
.es-insta-size-medium{
  width: 100% ;
    max-width: 345px !important;
}
.es-insta-size-small{
  width: 100% ;
    max-width: 236px !important;
}
.es-insta-size-small>iframe,
.es-insta-size-medium>iframe,
.es-insta-size-large>iframe{
    max-width: 100% !important;
}

/* Small width: 236px */
@media screen and (max-width: 600px){
    .es-pin-size-small{
        text-align: center;
        margin: 0 auto;
        float: none;
    }

    .es-insta-size-small{
        float: none;
        margin: 0 auto;
    }
}

/* Medium width: 345px */
@media screen and (max-width: 800px){
    .es-pin-size-medium{
        text-align: center;
        margin: 0 auto;
        float: none;
    }
    .es-insta-size-medium{
        float: none;
        margin: 0 auto;
    }
}


.es-pin-size-small>span,
.es-pin-size-medium>span,
.es-pin-size-large>span{
  min-width: initial !important;
}
